<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/register}" th:object="${person}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    <br/>
    <label for="birth_date">Enter birthdate</label>
    <input type="date" th:field="*{birthDate}" id="birth_date"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth date error</div>
<br/>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div

</form>
</body>
</html>